einops==0.8.0
fire==0.7.0
gpustat==1.1.1
hdbscan==0.8.40
ipykernel==6.29.5
openai==1.47.0
parlai==1.7.2
pip==24.2
responses==0.18.0
rouge-score==0.1.2
seaborn==0.13.2
sentence-transformers==3.2.1
setuptools==75.1.0
tiktoken==0.7.0
umap==0.1.1
umap-learn==0.5.7
wheel==0.44.0
xformers==0.0.29.post1
